*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: custom;
    src: url(fontes/Gistesy.ttf);
}
:root{
    scroll-behavior: smooth;
    --verde:#9FC7AA;
    --marrom: #35120d;
    --branco: #F5F5F5;
    --bege: #F0E9D9;
}
.header{
    background-image: url(img/tile.jpeg);
    background-repeat: round;
    font-family: 'custom', sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--marrom);
}
.logo{
    max-width: 200px;
    margin: 5%;

}
.logo img{
    border-radius: 100%;
}
.nav{
    display: none;
}
.mobile_menu{
    display: none;
}
.mobile_menu .nav_list{
    display: flex;
    justify-content: center;
    background-color: var(--bege);
}
.mobile_menu ul{
    list-style: none;
    font-family: 'custom', sans-serif;
}
.mobile_menu li{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.mobile_menu a{
    text-decoration: none;
    font-size: 2rem;
    font-weight: 400;
    color: var(--marrom);
}
.mobile_menu_icon{
    width: 4rem;
    width: 100%;
    display: flex;
    justify-content: end;
    background-color: var(--bege);
}
.mobile_menu_icon button{
    width: 4rem;
}
.open{
    display: block;
}
.main{
    background: var(--branco);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}



.box{
    width: 350px;
    height: 350px;
    margin-top: 0.5rem;
}


#one{
    width: 100%;
    height: 100%;
    background-image: url(img/prod/1.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10%;
}
#two{
    width: 100%;
    height: 100%;
    background-image: url(img/prod/2.jpg);
    background-position: center;
    background-size: cover;
    background-position: center;
    background-size: cover;
    border-radius: 10%;
}
#three{
    width: 100%;
    height: 100%;
    background-image: url(img/prod/3.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10%;
}
#four{
    width: 100%;
    height: 100%;
    background-image: url(img/prod/4.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10%;
}
#five{
    width: 100%;
    height: 100%;
    background-image: url(img/prod/5.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10%;
}
#six{
    width: 100%;
    height: 100%;
    background-image: url(img/prod/6.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10%;
}




.footer{
    background: var(--verde);
}
@media screen and (min-width: 650px) {
    .container{
        display: grid;
        grid-template-columns: repeat(3 auto);
        grid-template-rows: repeat(8 auto);
    }
    .header{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        display: grid;
        grid-template-columns: repeat(6 auto);
        grid-template-rows: repeat(6 auto);
    }
    .top{
        height: 50px;
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .logo{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .principal{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
        font-size: 35px;
        text-align: start;
    }
    .secondary{
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 4;
        font-size: 35px;
        text-align: start;
        padding-top: 30%;
    }
    .bottom{
        height: 50px;
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 5;
        grid-row-end: 6;
    }
    .mobile_menu{
        display: none;
    }
    .nav{
        display: block;
    }
    .mobile_menu_icon{
        display: none;
    }
    .nav{
        background-color: var(--bege);
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .nav_list{
        display: flex;
        justify-content: center;
    }
    .nav_list ul{
        list-style: none;
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    .nav .nav_list li{
        box-sizing: border-box;
        height: min-content;
        /* placehoder */
        background-image: url(img/menu_option_icon.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: initial;
        /* plceholder */
        padding: 50px;
    }
    .nav_item{
        display: block;
        width: 25%;
        text-align: center;
    }
    .nav a{
        font-family: 'custom', sans-serif;
        text-decoration: none;
        font-size: 2rem;
        color: var(--marrom);
        font-weight: 400;
        transition: 0.5s;
    }
    .nav a:hover{
        font-size: 2.5rem;
        transition: 0.5s;
    }
    .main{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 7;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }






    .box{
        box-sizing: border-box;
        margin: 3%;
        padding: 3%;
    }
    .box .item{
        filter: grayscale(0.3);
        transition: 0.5s;
    }
    .box .item:hover{
        filter: grayscale(0);
        box-shadow: -20px 20px var(--verde);
        transition: 0.5s;
    }





    .footer{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 7;
        grid-row-end: 8;
    }
}